body
{
	background-color: #FFFFFF;
	font-family: Tahoma, Verdana, 'Segoe UI' , Arial, Helvetica, sans-serif;
	font-size: 13px;
}

/* turn borders off for all link images */
body img
{
	border: 0;
}

body ul
{
	margin-top: 0;
}

/* For general categories */
body h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #243368;
	margin: 0 0 10px 0;
	padding: 0;
}

/* article topic headers */
body h2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #ff6600;
	margin: 20px 0 0 0;
	padding: 0;
}

/* section headers */
body h3
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0 0 0;
	padding: 0;
}

body h4
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 0 0;
	padding: 0;
}

body p
{
	margin: 0;
	padding: 0 0 10px 0;
}

body a
{
	color: #FF6600;
}

body a:hover
{
	color: #FF9966;
}

.screenshotright
{
	border: 1px solid #808080;
	float: right;
	margin: 0 10px 0 10px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	background-color: #CCCCCC;
}

.screenshotright img
{
	display: block;
	padding: 0 0 10px 0;
}

.imageright
{
	float: right;
	margin: 10px;
	display: block;
}

.screenshotcenter
{
	border: 1px solid #808080;
	display: block;
	margin: 0 auto;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	background-color: #CCCCCC;
}

.screenshotcenter img
{
	display: block;
	padding: 0 0 10px 0;
	margin: 0 auto;
}

.exampletext
{
	display: block;
	font-family: 'Courier New' , Courier, monospace;
	background-color: #FFFFCC;
	border: 1px dotted #CCCCCC;
	margin: 0;
	padding: 10px;
}

.exampletext span
{
	display: block;
	margin: 0;
	padding: 0;
}

.error
{
	font-weight: bold;
	color: #CC0000;
	margin: 0;
	padding: 0;
}

.copyright
{
	border-width: 1px;
	border-color: #C0C0C0;
	clear: both;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 100%;
	text-align: center;
	margin: 20px 0 0 0;
	padding: 10px 0 10px 0;
	display: block;
	border-top-style: solid;
}